.listing > .filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}
.listing > .filters button {
  padding: 10px;
  background-color: #333332;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.movies {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin-top: 2rem;
}
.card {
  width: 300px;
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 1rem;
}
.card img {
  width: 300px;
  height: 400px;
}
.card p {
  min-height: 6rem;
}
.card-buttons {
  display: flex;
  justify-content: space-between;
}
.card-buttons > button {
  background-color: #333332;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}
.horizontal-card {
  display: flex;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 80%;
  margin: auto;
  border-radius: 1rem;
  overflow: hidden;
  gap: 2rem;
  padding: 1rem;
}
.horizontal-card img {
  width: 22rem;
}
.add-movie {
  text-align: center;
}
.add-movie * {
  margin-bottom: 1rem;
  width: 20rem;
  padding: 5px;
}
.center {
  text-align: center;
}
.add-movie button {
  background-color: #333332;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  padding: 10px;
}
.movie-details {
  flex: 1;
}
